@import "bootstrap";

@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

@mixin font {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

@mixin border-radius($r:8px) {
  border-radius: $r;
  -webkit-border-radius: $r;
  -moz-border-radius: $r; 
}

html {
  @include font;
  @include fontsize(14);
  line-height: 1.4;
}

#container {
  width: 100%;
  height: 100%;
  #wrapper {
    position: fixed;
    top: 0;
    #finder {
      @include fontsize(18);
      position: absolute;
      padding: .4em .8em .8em .4em;
      background-color: white;
      opacity: 0.4;
      ul, li {
        margin: 0;
        list-style-type: none;
        padding-left: .4em;
      }
      ul:first-child {
        padding: 0;
        li {
          padding: 0;
        }
      }
      i {
        margin-right: .4em;
      }
      a {
        color: black;
        text-decoration: none;
      }
    }
    button {
      position: absolute;
      padding: .4em .8em;
      background: none;
      border: none;
      box-shadow: none;
      color: white;
      &#download {
        right: 0;
      }
      &#shading {
        bottom: 0;
      }
    }
  }
}

h1 {
  font-size: 2em;
  margin: 0 0 .4em 0;
}

h2 {
  font-size: 1.6em;
  margin: 0 0 1em 0;
}

h3 {
  font-size: 1.2em;
  font-weidht: bold;
  margin: 0 0 1em 0;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  @include fontsize(12);
}

@media only screen and (max-width : 640px) {
  #finder {
    @include fontsize(24);
  }
}